button { 
    padding: 10px ;
    font-size: 16px;
    color: #03e9f4;
    margin: 20px;
    border: none;
    border-bottom: 1px solid #03e9f4;;
    outline: none;
    background: transparent;
  }
  

  button:hover {
    background: #03e9f4;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }