html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center; 
  font-family: 'Open Sans', sans-serif;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}


