.table-container {
    display: flex;
    flex-wrap:wrap ;
    gap: 1rem;
    margin: auto;
    padding: auto;
    text-align: center;
  }
  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  }

  thead th {
    padding: 1rem;
    background-color: #7f5a83;
    color: #0d314d;
  }
  
