.table-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 800px;
  text-align: center;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  color: #0d314d;
}

thead th {
  background-color: #7f5a83;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td:hover {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}
